@import '../sass/vars';

.sidebar {

	&__filter--wrapper {
		margin-bottom: 1rem;
	}

	// filter category accordion
	&__filter--title-checkbox {
		//display: none;

		// outline para visualizar el titulo de seccion a colapsar
		&:focus + label {
			outline: 1px solid black;

			// muestra estado de checkbox (+/-) si esta o no colapasada la seccion
			&:after {
				display: block;
			}
		}

		// evit focus en los filtros cuando esta colapsada la seccion
		&:not(:checked):focus ~ .sidebar__filter--box input{
			display: none;
		}

		// seccion colapsable
		~ .sidebar__filter--box {
			max-height: 0;
			overflow: hidden;
			transition: max-height $transition-fast;
		}

		// colapsa/descolapsa seccion
		&:checked {
			~ .sidebar__filter--box {
				max-height: 14rem
			}

			+ .sidebar__filter--title:after {
				content: "–";
			}
		} 
	}

	&__filter--title {
		background-color: $gray;
		position: relative;
		display: block;
		cursor: pointer;
		padding: .5rem 1.6rem;
		font-weight: bold;
		margin-bottom: .5rem;

		&:hover {
			box-shadow: 0 0 1px transparentize($textblack, 0.5);
		}

		// estado de titulo de seccion desactivado por default
		&:after {
			display: none;
			content: "+";
			position: absolute;
			top: 50%;
			right: 1.6rem;
			transform: translateY(-50%);
		}

		// mostrar estado de titulo de seccion activo
		&:hover:after {
			display: block;
		}
	}

	// checkbox de filtros de categoria, medida, color
	&__filter--item {
		&:focus + label {
			outline: 1px solid black
		}

		&:checked + * {
			color: $darkviolet;
			background-color: $gray;
			box-shadow: 0 0 1px transparentize($textblack, 0.5);
			padding: .125rem 1rem .125rem .65rem;

			&:before {
				content: "+";
				display: inline-block;
				transform: rotate(-45deg);
			}
		}
	}

	// label etiqueta defiltros de categoria, medida, color
	&__filter--item--label {
		cursor: pointer;
		text-transform: capitalize;
		padding-left: 1.6rem;

		&:hover {
			text-decoration: underline;
		}
	}
}