.col-1-6 {
	width: (1 / 6) * 100%;
}

.col-2-6 {
	width: (2 / 6) * 100%;
}

.col-3-6 {
	width: (3 / 6) * 100%;
}

.col-4-6 {
	width: (4 / 6) * 100%;
}

.col-5-6 {
	width: (5 / 6) * 100%;
}



.col-1-5 {
	width: (1 / 5) * 100%;
}

.col-2-5 {
	width: (2 / 5) * 100%;
}

.col-3-5 {
	width: (3 / 5) * 100%;
}

.col-4-5 {
	width: (4 / 5) * 100%;
}



.col-1-4 {
	width: (1 / 4) * 100%;
}

.col-2-4 {
	width: (2 / 4) * 100%;
}

.col-3-4 {
	width: (3 / 4) * 100%;
}


.col-1-3 {
	width: (1 / 3) * 100%;
}

.col-2-3 {
	width: (2 / 3) * 100%;
}

.col-1-2 {
	width: (1 / 2) * 100%;
}


@media all and (max-width: $tabletWidth) {
	
}