.header {
	background-color: $darkviolet;
	padding: 1rem;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 3px 6px #00000026;

	.constrain {
		max-width: 148rem;
		margin: 0 auto;
	}

	* {
		color: $textwhite;
		margin: 0;
	}

	&__mobile-menu {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 2.6rem;

		img {
			filter: invert(100%);
		}

		@media all and (max-width: $mobileWidth) {
			display: block;
		}
	}

	&__logo {
		max-width: 20.6rem;
		margin: 1.5rem 0;
		
		@media all and (max-width: $mobileWidth) {
			max-width: 14rem;
		}
	}

	&__toolbar {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		ul {
			display: flex;
			align-items: flex-end;
		}
		li {
			width: 2.5rem;
			height: 2.5rem;
			margin: 0 .5rem;

			img {
				filter: invert(100%);
				width: 100%;
				height: 100%;
			}
		}
	}

	&__topbar {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			max-width: 70rem;
			margin: 0 auto;

			li {
				display: block;
				text-transform: uppercase;
				position: relative;
				padding: 0 1rem;
	
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					transition: all $transition-normal;
					background-color: transparentize($darkviolet, 0.1);
					z-index: 0;
				}
	
				&:hover:after {
					border-radius: 16px 0 16px 0;
					opacity: 1;
					width: 100%;
				}

				a {
					display: inline-block;
					position: relative;
					padding: 1rem;
					font-size: 2rem;
					text-decoration: none;
					z-index: 1;

					&.active {
						font-weight: bold;
					}
				}
			}
		}

		@media all and (max-width: $mobileWidth) {
			display: none;
		}
	}
}