.listing {
	form {
		margin: 1rem 0;
		text-align: right;

		select {
			display: inline-block;
			font-size: 1.6rem;
			font-weight: normal;
			color: $textblack;
			padding: .6em 1.4em .5em .8em;
			margin: 0;
			border: 1px solid #aaa;
			border-radius: .5em;
			background-color: $gray;

			// TODO: revisar porque estos prefijos no los agrega ???
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
		}

		select::-ms-expand {
			display: none;
		}

		select:hover {
			border-color: #888;
		}

		select:focus {
			outline: none;
		}

		select option {
			font-weight: normal;
		}
	}

	.listing__container {
		width: 100%;
		display: grid;
		grid-column-gap: 1.6rem;
		grid-row-gap: 3.2rem;
		margin-bottom: 10rem;

		// default desktop
		grid-template-columns: repeat(3, 1fr);

		&[data-layout=cols-1] {
			grid-template-columns: repeat(1, 1fr)
		}

		&[data-layout=cols-2] {
			grid-template-columns: repeat(2, 1fr)
		}

		&[data-layout=cols-3] {
			grid-template-columns: repeat(3, 1fr)
		}

		&[data-layout=cols-4] {
			grid-template-columns: repeat(4, 1fr)
		}

		&--target {
			display: block;
			transition: all $transition-normal;
			overflow: hidden;
			text-decoration: none;

			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}

		&--thumb {
			border-bottom: 1px solid $black;
			transform-origin: bottom center;
			transition: all $transition-normal;
		}

		&--title {
			margin: 0;
			margin-top: .8rem;
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: normal;
		}

		&--price {
			margin: 0;
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: bold;

			&::before {
				content: "$";
			}
		}

		@media all and (max-width: $mobileWidth) {
			// default mobile
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
