{%- macro random_int(len) -%}
	{%- for _ in range(len) -%}
		{{ range(10) | random }}
	{%- endfor -%}
{%- endmacro -%}

{% set id = "listing-" + random_int(10) %}
<div class="listing__controls">
	<div><span id="listing-filter-count"></span> {{controls.count.label}}</div>
	<form>
		<select data-target="{{id}}" class="listing__container--sort-selector">
			{% for item in controls.order -%}
			<option class="{{item.class}}" value="{{item.value}}" {% if item.selected %}selected{% endif %}>{{item.label}}</option>
			{% endfor -%}
		</select>

		<select data-target="{{id}}" class="listing__container--layout-selector">
			{% for item in controls.layout -%}
			<option class="{{item.class}}" value="{{item.value}}" {% if item.selected %}selected{% endif %}>{{item.label}}</option>
			{% endfor -%}
		</select>
	</form>
</div>
<ul class="listing__container" id="{{id}}">
	{% for item in listing_data -%}
	<li class="listing__container--item" data-price="{{item.price}}" data-category="{{item.category}}" data-size="{%- for value in item.size -%}{{value}}{% if not loop.last %},{%endif%}{%endfor %}" data-color="{%- for value in item.color -%}{{value}}{% if not loop.last %},{%endif%}{%endfor %}">
		<a class="listing__container--target" href="{{item.url}}">
			<img class="listing__container--thumb" src="{{item.thumb}}" alt="">
			<h2 class="listing__container--title">{{item.title}}</h2>
			<p class="listing__container--price">{{item.price}}</p>
		</a>
	</li>
	{%- endfor %}
</ul>