font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
		url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

	// Ensure text remains visible during webfont load
	// @see https://web.dev/font-display/
	font-display: swap;
}

font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/roboto-v20-latin-500.woff2') format('woff2'),
		url('/assets/fonts/roboto-v20-latin-500.woff') format('woff');
	font-weight: bold;
	font-style: normal;

	// Ensure text remains visible during webfont load
	// @see https://web.dev/font-display/
	font-display: swap;
}

font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/roboto-v20-latin-300.woff2') format('woff2'),
		url('/assets/fonts/roboto-v20-latin-300.woff') format('woff');
	font-weight: lighter;
	font-style: normal;

	// Ensure text remains visible during webfont load
	// @see https://web.dev/font-display/
	font-display: swap;
}
