// default colors
$white: #fff;
$black: #000;

// theme colors
$textblack: #030B1C;
$textwhite: #fafafa;
$gray: #E4E8EE;
$darkviolet:rgba(16, 2, 23, 0.9);




$transition-fast: .15s ease;
$transition-normal: .35s ease;


// breakpoints
$tabletWidth: 1024px;
$mobileWidth: 640px;