@import '../vars';

.content-wrapper {
	padding: 0 1rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 26rem auto;
	grid-template-columns: 26rem auto;
	column-gap: 1rem;

	.listing {
		-ms-grid-column: 2;
	}

	@media all and (max-width: $mobileWidth) {
		display: block;
	}
}