@import './vars';

// https://sass-lang.com/documentation/at-rules/import#importing-css
@import '../../node_modules/normalize.css/normalize';
@import './partials/fonts';

#__bs_notify__ {
    display: none !important;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 0;
	margin: 0;
    border: 0;
    background-color: $textwhite;
}

body {
	position: relative;
	font-family: sans-serif;
	font-weight: normal;
    font-style: normal;

	//overscroll-behavior: none;
}

html {
    font-size: 10px;
    color: $black;
    
    // Box-sizing reset. Best for responsive and sizing in general! The old one is content-box.
    &,
    * {
        box-sizing: border-box;
    }
}

html.no-scroll {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.la-preuve {
    transition: transform $transition-fast;

    * {
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
    }

    // common styles (works with normalize), general styles
    @import './partials/common';


    // low-priority styles, here we put debug css, mobile console styles, etc
    @import './partials/debug';

    // Accessibility styles
    @import './partials/accessibility';

    // general components
    @import './components/grid';
    @import './components/header';
    @import './components/footer';
    @import './components/images';
    @import './components/listing';
    @import './components/menu';
    @import './components/sidebar';
    @import './components/typography';

    // custom view styles
    @import './pages/sale';
}
